* {
  box-sizing: border-box;
}

body {
  direction: rtl;
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.head_title {
  min-height: 260px;
  background-image: url(../images/trip.jpg);
  background-position: center;
  background-size: cover;
  color:white;
}

h1{
    text-shadow:0px 5px 30px #ffffff;
    font-family: 'Rubik Dirt', cursive;
    font-size: 4em;
}

.image_loc {
  height: 12rem;
  object-fit: cover;
}

.icon_div {
  font-size: 1.6em;
  padding: 6px;
}

body{
    background: rgb(255, 221, 234);
}

header, footer{
    background: rgba(212, 77, 129, 0.699);
}

